---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <a href="/">Home</a>
    <h1>Contact</h1>
    <p>
      The clubhouse is located approximately 1 mile east of the world famous
      Southend Pier, overlooking the boat park and the Thames Estuary. For a map
      of how to get the the club click here.
    </p>

    <p>
      Access to the Bosuns Hut and Race Box is from the seafront. The club is
      open 6 days each week, Tuesday to Sunday.
    </p>

    <p>
      The Club Secretary can be contacted between 10am and 2pm Tuesday to Friday
    </p>
  </main>
</Layout>
