---
import Layout from "~/layouts/Layout.astro";

const res = await fetch(
  `${import.meta.env.PUBLIC_URL}/wp-json/wp/v2/pages/25329`,
);
const history = await res.json();
---

<Layout title={`${history.title.rendered} | Thorpe Bay Yacht Club`}>
  <main class="container">
    <h1
      class="mt-6 scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      set:html={history.title.rendered}
    />
    <Fragment set:html={history.content.rendered} />
  </main>
</Layout>

<style>
  main :global(a) {
    color: theme(colors.sky.800);
    text-decoration: underline;
  }

  main :global(a):hover {
    color: theme(colors.sky.900);
  }

  main :global(img) {
    margin-block: theme(margin.6);
    box-shadow:
      0px 8px 10px -5px rgba(0, 0, 0, 0.2),
      0px 16px 24px 2px rgba(0, 0, 0, 0.14),
      0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
</style>
