---
import { ViewTransitions } from "astro:transitions";
import Navbar from "~/components/Navbar.vue";

interface Props {
  title: string;
}

const { title } = Astro.props;

const measurementId = import.meta.env.GTAG;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="The Thorpe Bay Yacht Club is a friendly and welcoming sailing club located in Thorpe Bay, Southend-on-Sea, UK. We cater to sailors of all ages and abilities, offering a variety of activities and facilities for members to enjoy."
    />
    <title>{title}</title>
    <ViewTransitions />
    <script
      type="text/partytown"
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${measurementId}`}
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      window.gtag = function gtag() {
        dataLayer.push(arguments);
      };

      gtag("js", new Date());
      gtag("config", measurementId);
    </script>
  </head>
  <body>
    <Navbar client:load />
    <slot />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      body {
        background-color: theme(colors.slate.300);
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
